body {
  font-family: "Catamaran", sans-serif;
  font-family: "Poppins", sans-serif;
  margin: 0;
}

.top-banner {
  /* background-image: url(bg1.webp); */
  padding: 60px;
  display: flex;
  margin-bottom: 100px;
}
.text h4 {
  color: aqua;
}
.img-size img {
  width: 100%;
}
.text {
  width: 100%;
  color: black;
}
.button {
  color: aqua;
}
.btn {
  text-decoration: none;
  padding: 10px 30px;
  color: white;
  background-image: linear-gradient(rgb(212, 109, 161), rgb(102, 237, 237));
  border-radius: 5px;
  font-weight: 600;
}
.speciality {
  /* background-image: url(bg1.webp); */
  display: inline-block;
  display: flex;
}

.image img {
  width: 60%;
  margin-left: 150px;
}
.image-title {
  color: black;
}
.image-title p {
  margin-right: 200px;
}
.header {
  text-align: center;
  color: aqua;
  margin-bottom: 90px;
}

/* speciality2 */
.speciality2 {
  /* display: inline-block; */
  display: flex;
  margin-top: 150px;
}
/* .image img {
  width: 60%;
  margin-left: 200px;
} */
.image-title2 {
  color: black;
  margin-left: 150px;
}

.header {
  text-align: center;
  color: aqua;
  /* margin-bottom: 90px; */
}
.img-size2 img {
  width: 70%;
  margin-right: 30px;
}

/* forth */
.speciality3 {
  /* display: inline-block; */
  display: flex;
  margin-top: 150px;
}
.image2 img {
  width: 50%;
  margin-left: 150px;
}
.image-title3 {
  color: black;
  margin-left: 0px;
}
/* footer {
  text-align: center;
} */

/* food */
/* section {
  width: 100%;
  min-width: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  line-height: 1.5;
} */
a {
  text-decoration: none;
  margin: auto;
}
.container {
  width: 1100px;
  max-width: 100%;
  margin: 0 auto;
}
.card {
  /* border: 1px solid gray; */
  height: 400px;
  background-color: black;
  box-shadow: 0 0 15px rgba(0, 0, 0, 4);
  flex: 1 1 21rem;
  margin: 10px 20px;
  border-radius: 5px;
}
.card img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}
.row {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 40px;
}
/* .btn {
  margin-right: 20px;
} */
.card h4 {
  color: white;
  text-align: center;
  color: aqua;
}
.card p {
  color: white;
  padding-left: 10px;
}

.header {
  color: hotpink;
  text-align: center;
  margin-top: 200px;
  font-size: 30px;
}
footer {
  text-align: center;
}
.btn-style {
  text-align: center;
}

